<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
        <bean class="u.javawebinar.topjava.repository.mock.MockUserRepository" id="mockUserRepository"/>

        <bean class="ru.javawebinar.topjava.service.UserServiceImpl">
            <property name="repository" ref="mockUserRepository"/>
        </bean>
    -->

    <!-- Независимые -->

    <bean id="loggedUser" class="ru.javawebinar.topjava.LoggedUser"/>

    <bean id="inMemoryUserRepository" class="ru.javawebinar.topjava.repository.mock.InMemoryUserRepositoryImpl"/>

    <bean id="inMemoryUserMealRepository" class="ru.javawebinar.topjava.repository.mock.InMemoryUserMealRepositoryImpl"/>

    <!-- Зависимые -->

    <bean id="userMealService" class="ru.javawebinar.topjava.service.UserMealServiceImpl">
        <property name="repository" ref="inMemoryUserMealRepository"/>
        <property name="loggedUser" ref="loggedUser"/>
    </bean>

    <bean id="userMealRestController" class="ru.javawebinar.topjava.web.meal.UserMealRestController">
        <property name="service" ref="userMealService"/>
    </bean>

    <!-- -->

    <!--
    <context:annotation-config/>

    <context:component-scan base-package="ru.javawebinar.**.repository"/>

    <context:component-scan base-package="ru.javawebinar.**.service"/>

    <context:component-scan base-package="ru.javawebinar.**.web"/>
    -->

</beans>